body {
   background-image: url("calc\ fundo.jpg");
    background-size: cover;
    background-position: center;
  font-family: 'Press Start 2P', cursive, monospace;
  color: #222;
  text-align: center;
  margin: 2vw;
}

h1 {
  font-size: 2vw;
  margin-bottom: 2vh;
  text-shadow: 2px 2px 0 #fff;
}

label {
  font-weight: bold;
  font-size: 1vw;
}

input[type=number] {
  width: 10vw;
  font-size: 1.5vw;
  padding: 0.5vw;
  border: 0.3vw solid #222;
  border-radius: 0.5vw;
  text-align: center;
  margin-left: 1vw;
}

button {
  font-family: 'Press Start 2P', monospace;
  font-weight: bold;
  font-size: 1.5vw;
  background: #4caf50;
  color: white;
  border: 0.3vw solid #222;
  border-radius: 0.5vw;
  padding: 1vw 2vw;
  margin-left: 1vw;
  cursor: pointer;
  box-shadow: 0.3vw 0.3vw 0 #666;
}

button:active {
  box-shadow: none;
  transform: translate(0.3vw, 0.3vw);
}

#result {
  margin-top: 3vh;
  background: #f0f0f0;
  border: 0.5vw solid #222;
  border-radius: 1vw;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 1vw;
  box-shadow: 0.5vw 0.5vw 0 #999;
  font-size: 1vw;
  text-align: left;
}

#result ul {
  list-style: none;
  padding-left: 1vw;
}

#result li {
  margin: 0.5vh 0;
  letter-spacing: 0.1vw;
}

a {
  display: inline-block;
  margin-top: 3vh;
  font-weight: bold;
  font-family: 'Press Start 2P', monospace;
  color: #ffffff;
  text-decoration: none;
}

a:hover { text-decoration: underline; }

/* Media Queries */
@media(max-width:768px){
  h1{ font-size:4vw; }
  label{ font-size:2.5vw; }
  input[type=number]{ font-size:3vw; width:20vw; }
  button{ font-size:3vw; padding:1vw 2vw; }
  #result{ font-size:2vw; padding:2vw; }
  #result li{ margin:1vh 0; }
}

@media(max-width:480px){
  h1{ font-size:5vw; }
  label{ font-size:3.5vw; }
  input[type=number]{ font-size:4vw; width:25vw; }
  button{ font-size:4vw; padding:2vw 3vw; }
  #result{ font-size:3vw; padding:3vw; }
  #result li{ margin:1.5vh 0; }
}
